---
apiVersion: bitnami.com/v1alpha1
kind: SealedSecret
metadata:
  name: cloudflare-api-token-secret
  namespace: cert-manager
spec:
  encryptedData:
    api-token: AgBEFOycR+8tGUnLu2vW+9Mi9kunZXkE8FKgmOeCQy+U6f1islwWc5jL6YNCcNDl2sbsV7g3OVPeuTEpSjNNQORAgE9ZT0p+JCtn1sM026gzJBAWcj7J0FC02ZTCKUtuRTeJMdCxOTRZn6DX0H8fFLhQJhZMEVDceP+LhEAO2hr2lV0e3N9ajRK94ZoovLmq3bqZ88Hekd6aCoryx3osmAsEkIDBseyygbulqfUQDOte6hNl8ObR9z9bT9/lALppzpuaZcwlUcPiJi3qNAv6D0z071sBFkvnIlFj+X5lGaluWeqY25RZth4QODlrUhYve2eaMszuRTU3XzWw/uQNo4w7A0YOV4ZzEvf9ENbV+yppaB/3QuooHnohMyETG/Q3ZiA3+JtpSg789uXemPbaoEuY/VQvMtVDY2qdcsDsAKJAcw0qBfXysNMofUqiowQI82UScDSIFYB6HqfTQ2zLrnc+u22qvkmHFwvE9zNTlEBVpJigU8D/lLfJNlydC2ViVrEZq4ljNh/SLvO5eGnxtyxAclj1oOLdGtpTkLBcYPAHvhMg1H2IEgIVF/wbpehxrrxVC3VSKW3eQGU+gMzTFgPd/YQC8UspURfyvtiORkAfYHnD0YGZWrQxi0VueZydC2WYygKPNpwKZoaQk4Gb34e6OPaalOQAxL8GepcECAH2Mk1pwByLATKtlqp26r9d9Dr4dURvNfE0Xl2H/BlLXwy4hIBLHYfAzMGVActsFxIEl2lEM7srV8Tf
  template:
    metadata:
      name: cloudflare-api-token-secret
      namespace: cert-manager
