apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: traefik
  namespace: argocd
  finalizers: ["resources-finalizer.argocd.argoproj.io"]
spec:
  project: default
  source:
    repoURL: https://traefik.github.io/charts
    chart: traefik
    targetRevision: 37.4.0
    helm:
      values: |
        deployment:
          kind: DaemonSet
        ports:
          web:
            port: 8000
            expose:
              default: true
          websecure:
            port: 8443
            expose:
              default: true
            protocol: TCP
          web-int:
            port: 8001
            expose:
              default: false
          websec-int:
            port: 8444
            expose:
              default: false
            protocol: TCP
        service:
          enabled: true
          type: LoadBalancer
          loadBalancerIP: "10.9.8.90"
          externalTrafficPolicy: Local
          annotations:
            kube-vip.io/loadbalancerIPs: "10.9.8.90"
        persistence:
          enabled: true
          name: data
          accessMode: ReadWriteMany
          size: 128Mi
          storageClass: "nfs-pv" 
          path: /data
        ingressClass:
          enabled: true
          isDefaultClass: true
        api:
          dashboard: true
          insecure: true
        ingressRoute:
          dashboard:
            enabled: false
        providers:
          kubernetesCRD:
            allowCrossNamespace: true
          kubernetesIngress:
            allowCrossNamespace: true
        logs:
          general:
            level: INFO
          access:
            enabled: true
            format: json  # JSON is much easier to parse
            fields:
              defaultMode: keep
              headers:
                defaultMode: keep
  destination:
    server: https://kubernetes.default.svc
    namespace: traefik-system
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    retry:
      limit: 10
      backoff:
        duration: 10s
        factor: 2
        maxDuration: 5m
    syncOptions:
      - CreateNamespace=true
