deployment:
  kind: DaemonSet

logs:
  access:
    enabled: true
    format: json
    fields:
      headers:
        defaultMode: keep

# Allow running on Master/Control Plane nodes
tolerations:
  - key: "node-role.kubernetes.io/master"
    operator: "Exists"
    effect: "NoSchedule"
  - key: "node-role.kubernetes.io/control-plane"
    operator: "Exists"
    effect: "NoSchedule"

ports:
  web:
    port: 8000
    expose:
      default: true
  websecure:
    port: 8443
    expose:
      default: true
    protocol: TCP
  web-int:
    port: 8001
    expose:
      default: false
  websec-int:
    port: 8444
    expose:
      default: false
    protocol: TCP
service:
  enabled: false
persistence:
  enabled: true
  name: data
  accessMode: ReadWriteMany
  size: 128Mi
  storageClass: "nfs-pv"
  path: /data
ingressClass:
  enabled: true
  isDefaultClass: true
api:
  dashboard: true
  insecure: true
ingressRoute:
  dashboard:
    enabled: false
providers:
  kubernetesCRD:
    allowCrossNamespace: true
  kubernetesIngress:
    allowExternalNameServices: true
    publishedService:
      enabled: true
