apiVersion: batch/v1
kind: Job
metadata:
  name: wait-for-webhook
  namespace: argocd
  annotations:
    argocd.argoproj.io/hook: PreSync
    argocd.argoproj.io/hook-delete-policy: HookSucceeded
spec:
  template:
    spec:
      containers:
        - name: wait
          image: bitnami/kubectl:latest
          command:
            - /bin/bash
            - -c
            - |
              echo "Waiting for Cert-Manager webhook service..."
              until kubectl get endpoints cert-manager-webhook -n cert-manager -o jsonpath='{.subsets[*].addresses[*].ip}' | grep -q .; do
                echo "Webhook endpoints not ready yet. Sleeping 5s..."
                sleep 5
              done
              echo "Webhook is up. Proceeding with config application."
      restartPolicy: Never
      serviceAccountName: argocd-application-controller
