apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: redirect-https
  namespace: traefik-system
spec:
  redirectScheme:
    scheme: https
    permanent: true

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: http-catchall-public
  namespace: traefik-system
spec:
  entryPoints:
    - web
  routes:
    - match: HostRegexp(`{host:.+}`)
      kind: Rule
      services:
        - name: api@internal
          kind: TraefikService
      middlewares:
        - name: redirect-https
          namespace: traefik-system

---
apiVersion: traefik.io/v1alpha1
kind: IngressRoute
metadata:
  name: http-catchall-internal
  namespace: traefik-system
spec:
  entryPoints:
    - web-int
  routes:
    - match: HostRegexp(`{host:.+}`)
      kind: Rule
      services:
        - name: api@internal
          kind: TraefikService
      middlewares:
        - name: redirect-https
          namespace: traefik-system
