apiVersion: v1
kind: PersistentVolume
metadata:
  name: media-library-pv
spec:
  capacity:
    storage: 10Ti
  accessModes:
    - ReadWriteMany
  persistentVolumeReclaimPolicy: Retain
  nfs:
    server: 10.9.8.30
    path: /mnt/main/media
  mountOptions:
    - nfsvers=4.1
    - noatime
