name: Format

on:
  pull_request:
    branches: [main]

jobs:
  format:
    name: Format all YAML files
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}

      - name: Prettier
        uses: creyD/prettier_action@v4.6
        with:
          prettier_plugins: "prettier-plugin-sh"
          prettier_options: --write **/*.{yaml,yml,json,sh}
